fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
aiohttp==3.9.3
sentence-transformers==2.2.2
sqlalchemy[asyncio]==2.0.29
pgvector==0.2.4
psycopg[binary]==3.1.18
sqlalchemy-utils==0.41.1
python-dateutil==2.9.0.post0
pytz==2024.1
types-pytz==2023.3.1.0
types-python-dateutil==2.8.19.20240106
asyncpg==0.29.0
alembic==1.13.1